<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <ul>
    <li> Each team member must fill in their full name, roll number (16XXXXX or 171XXXXX) and 10-digit phone number. </li>
    <li> Please ensure all the fields are filled before signing up. </li>
    <li> If the information is incorrect, or there are duplicates of teams, they may be disqualified.</li>
    </ul>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br /> 
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="field">
    <%= label_tag :team_name %><br />
    <%= text_field_tag :team_name, params[:team_name] %>
  </div>


  <div class="field">
    <%= label_tag :name_1 %><br />
    <%= text_field_tag :name_1, params[:name_1] %>
  </div>

  <div class="field">
    <%= label_tag :roll_number_1 %><br />
    <%= text_field_tag :roll_1, params[:roll_1] %>
  </div>

  <div class="field">
    <%= label_tag :contact_1 %><br />
    <%= text_field_tag :contact_1, params[:contact_1] %>
  </div>


  <div class="field">
    <%= label_tag :name_2 %><br />
    <%= text_field_tag :name_2, params[:name_2] %>
  </div>

  <div class="field">
    <%= label_tag :roll_number_2 %><br />
    <%= text_field_tag :roll_2, params[:roll_2] %>
  </div>

  <div class="field">
    <%= label_tag :contact_2 %><br />
    <%= text_field_tag :contact_2, params[:contact_2] %>
  </div>


  <div class="field">
    <%= label_tag :name_3 %><br />
    <%= text_field_tag :name_3, params[:name_3] %>
  </div>

  <div class="field">
    <%= label_tag :roll_number_3 %><br />
    <%= text_field_tag :roll_3, params[:roll_3] %>
  </div>

  <div class="field">
    <%= label_tag :contact_3 %><br />
    <%= text_field_tag :contact_3, params[:contact_3] %>
  </div>


  <div class="field">
    <%= label_tag :name_4 %><br />
    <%= text_field_tag :name_4, params[:name_4] %>
  </div>

  <div class="field">
    <%= label_tag :roll_number_4 %><br />
    <%= text_field_tag :roll_4, params[:roll_4] %>
  </div>

  <div class="field">
    <%= label_tag :contact_4 %><br />
    <%= text_field_tag :contact_4, params[:contact_4] %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  


<%#= render "devise/shared/links" %>
