<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <ul>
    <li> Each team member must fill in their full name, roll number (16XXXXX or 171XXXXX) and phone number (with country code for international students).</li>
    <li> Please ensure all the fields are filled before signing up, especially the team details. If any of the fields are invalid or blank, the team may be disqualified.</li>
    <li> If the information is incorrect, or there are duplicates of teams or team members, corresponding teams will be disqualified.</li>
    <li> Please be fair! You wouldn't like it if some other team won by inappropriate means, so don't cheat yourself.</li>
  </ul>

  <div class="field">
    <%= f.label :email_of_team_leader %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br /> 
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <%= f.fields_for :team_detail do |t_f| %>
    <div class="field">
      <%= t_f.label :team_name %><br />
      <%= t_f.text_field :team_name %>
    </div>

    <div class="field">
      <%= t_f.label :name_1 %><br />
      <%= t_f.text_field :name_1 %>
    </div>
    <div class="field">
      <%= t_f.label :roll_number_1 %><br />
      <%= t_f.text_field :roll_1 %>
    </div>

    <div class="field">
      <%= t_f.label :name_2 %><br />
      <%= t_f.text_field :name_2 %>
    </div>
    <div class="field">
      <%= t_f.label :roll_number_2 %><br />
      <%= t_f.text_field :roll_2 %>
    </div>

    <div class="field">
      <%= t_f.label :name_3 %><br />
      <%= t_f.text_field :name_3 %>
    </div>
    <div class="field">
      <%= t_f.label :roll_number_3 %><br />
      <%= t_f.text_field :roll_3 %>
    </div>

    <div class="field">
      <%= t_f.label :name_4 %><br />
      <%= t_f.text_field :name_4 %>
    </div>
    <div class="field">
      <%= t_f.label :roll_number_4 %><br />
      <%= t_f.text_field :roll_4 %>
    </div>

  <% end %>

  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  


<%#= render "devise/shared/links" %>
