<%= form_for(response) do |f| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @question %>
    <%# <div class="panel-body"> %>
    <h3 >
      <%= f.label question.description, :style => "display: inline-block;" %>
      <%= f.text_field :time_taken,
                :style => "display: inline-block;float: right;text-align-last: right;border-width:0px;", :size => "1", :readonly => true %>
<!--      <label style="display: inline-block;float: right;" name = "response[time_taken]">11</label>-->
    </h3>

    <br>

    <div style="display: none;">
      <%= f.radio_button :given_response, 0, :checked => "checked" %>
    </div>

    <ul class="list-group">

    <li class="list-group-item">

    <div class="radio">
      <label>
          <%= f.radio_button :given_response, 1 %>
          <%= f.label question.option_1 %><br>
      </label>
    </div>

    </li>

    
    <li class="list-group-item">
    <div class="radio">
    <label>
        <%= f.radio_button :given_response, 2 %>
        <%= f.label question.option_2 %><br>
    </label>
    </div>
    </li>

    
    <li class="list-group-item">
    <div class="radio">
      <label>
        <%= f.radio_button :given_response, 3 %>
        <%= f.label question.option_3 %><br>
    </label>
    </div>
    </li>

    
    <li class="list-group-item">
    <div class="radio">
      <label>
        <%= f.radio_button :given_response, 4 %>
        <%= f.label question.option_4 %><br>
      </label>    
    </div>
    </li>

    </ul>

    <br>

    <div class = "<%= controller_name %> <%= action_name %>">
        <%= f.submit :value => "Submit", :id => "response_submit", :class => "btn btn-default" %>
    </div>

    

  <% end %>

  <script>
    //document.onload = setTimeout(function () { response_submit.click(); }, 10000);
  </script>

  <script>
    document.getElementById('response_time_taken').value = "11";
    startTimer();

    function startTimer() {
      var presentTime = document.getElementById('response_time_taken').value;
      var s = checkSecond((presentTime - 1));
      // if(s==59){m=m-1}
      //if(m<0){alert('timer completed')}
      
      document.getElementById('response_time_taken').value = s;
      setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {// add zero in front of numbers < 10
      if (sec < 0) {sec = "0"};
      return sec;
    }
  </script>

<% end %>